{% extends 'base.html.twig' %}

{% block title %}Editer la punch'{% endblock %}

{% block stylesheets %}
        <link rel="stylesheet" href="/css/punchline_edit.css">
{% endblock %}

{% block body %} 
<div class="row col-12 edit-container justify-content-center">
    <h1 class="text-center my-4">Modifie ta punch'</h1>
<div class="row col-8 my-5 edit_form_container p-5">

    {{ form_start(form) }}

    {{ form_widget(form) }}

    <div class="text-center mb-3 pt-3">
        <button type="submit" class="btn btn-success col-2">Valider</button>
    </div>
    {{ form_end(form) }}

</div>
</div>


{% endblock %} 