{% extends 'base.html.twig' %}

{% block title %}Les punch'{% endblock %}
{% block stylesheets %}
        <link rel="stylesheet" href="/css/punchlines_index.css">
{% endblock %}

{% block body %}

<h1 class="text-center text-white mt-2">Liste des punch' des behloul</h1>


<div class="row justify-content-center mx-auto col-8 mb-5">
{% for punch in punchs %}
    {% include 'punch/_punch.html.twig' %}
{% endfor %}
</div>

{% endblock %}
