{% extends 'base.html.twig' %}

{% block title %}Wééé{% endblock %}

{% block header %} <h2>C'est le header</h2> {% endblock %}

{% block body %} 


<div class="jumbotron">
  <h1 class="display-4 text-white">Bien le bonjour les behloul</h1>
  <p class="text-white">Calez vos meilleures punch.</p>
</div>

<div class="row">
<div class="card col-md-6 p-0 text-center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>
<div class="card col-md-6 p-0 text-center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>
</div>

<h2>Les meilleures punch'</h2>

<div class="row">
  <div class="col-md-6">
    <div class="card bg-light mb-3">
      <div class="card-header text-center">
        Punchline de : "nom"
        <p>Note: </p>
      </div>
      <div class="card-body text-center">
        <h4>thème de la punch'</h4>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor commodi, assumenda accusantium nostrum quibusdam suscipit, mollitia, esse tempora corporis voluptas iure optio eum ad sequi et non eligendi. Porro, qui et suscipit non tempore hic expedita alias dolorem maxime commodi quis atque voluptatem explicabo iure labore tempora incidunt, nisi ducimus!</p>
        <a href="" class="btn btn-secondarys">Voir la punch'</a>
      </div>
    </div>
  </div>
</div>


{% endblock %}