{% extends 'base.html.twig' %}

{% block title %}Wééé{% endblock %}

{% block header %} <h2>C'est le header</h2> {% endblock %}

{% block body %} 


<div class="jumbotron text-center p-3">
  <h2 class=" text-white p-2">Bien le bonjour les behloul</h2>
  <p class="text-white">Calez vos meilleures punch.</p>
</div>

<h3 class="my-3 text-primary">Les meilleures punchlines du moment</h3>

<div class="row justify-content-center col-12">
<div class="card col-md-5 p-0 text-center m-3 mb-3">
  <div class="card-header">
    Theme
  </div>
  <div class="card-body text-white">
    
    <p class="card-text display-6">Contenu toussa toussa</p>
    <a href="#" class="btn btn-primary p-2">Afficher</a>
  </div>
  <div class="card-footer">
    Date
  </div>
</div>
<div class="card col-md-5 p-0 text-center m-3 mb-3">
  <div class="card-header">
    Theme
  </div>
  <div class="card-body text-white">
    
    <p class="card-text display-6">Contenu toussa toussa</p>
    <a href="#" class="btn btn-primary p-2">Afficher</a>
  </div>
  <div class="card-footer">
    Date
  </div>
</div>
</div>

<h3 class="my-3 text-primary">Les meilleures punchlinerz</h3>

<div class="row text-white justify-content-center col-12">
    <div class="card col-md-3 bg-secondary m-3 mb-3">
      <div class="card-body text-center">
        <h4>Blase du boug</h4>
        <p class="card-text">Présentation teh next Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe quasi non, maiores aut fugit iure?</p>
        <a href="" class="btn btn-success border-secondary">Voir les punchs'</a>
      </div>
  </div>
  <div class="card col-md-3 bg-secondary m-3 mb-3">
      <div class="card-body text-center">
        <h4>Blase du boug</h4>
        <p class="card-text">Présentation teh next Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe quasi non, maiores aut fugit iure?</p>
        <a href="" class="btn btn-success border-secondary">Voir les punchs'</a>
      </div>
  </div>
  <div class="card col-md-3 bg-secondary m-3 mb-3">
      <div class="card-body text-center">
        <h4>Blase du boug</h4>
        <p class="card-text">Présentation teh next Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe quasi non, maiores aut fugit iure?</p>
        <a href="" class="btn btn-success border-secondary">Voir les punchs'</a>
      </div>
  </div>
</div>


{% endblock %}