{% extends 'base.html.twig' %}

{% block title %}Page inaccessible{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center text-white p-3">T'as pas le droit d'accéder à ça mamen</h1>

    </div>
    <div class="row col-12 justify-content-center">
    <div class="col-6 text-center m-3">
  
    <a href="{{ path('homepage')}}" class="btn btn-primary mx-2">Retour à l'accueil</a>


    <a href="{{ path('punchs_index')}}" class="btn btn-primary">Retour aux punchs</a>
</div>
    </div>

{% endblock %}
